/*Element Selector */

h1{
  color: aquamarine;
  background-color: black;
}
ul{
  color: blueviolet;
  background-color: black;
}

/* Select by CLASS NAME  */
/* we need to apply "." first */

.first{
  color: aquamarine;
  background-color: black;

}

.second{
  color: blueviolet;
  background-color: black;
}

/* Select by ID(UNIQUE HOTI H) */

/* "#" use krna hai */

#third{
  color: chartreuse;
  background-color: chocolate;

}

/*    */
body{
  background-color: aqua;
}

/* saare tags ko select krna ho toh " * = UNIVERSAL SELECTOR" use kro   */

*{
  color: blue;
}